
.tests { // This line should give error about invalid class
  color: red; // This line should give error about named color
}

.c-component--h1 { // This line should give error about invalid class
  color: #ffffff;
}

.c-component1 { // This line should give error about invalid class
  color: #ffffff;
}

.foo-baa {

}

.c-block__element__element { // This line should give error about invalid class
  color: #000; // This line should give error about short color definitions
}

.c-block__element--modifier--modifier { // This line should give error about invalid class
  @extend %foo; // Valid extend position

  @include my_mixin(); // Valid include position

  @media { // This line should give an error because of misplaced @media
    color: #000000;
  }

  color: #000000;

  @extend %foo; // This line should give an error because of misplaced @extend

  @include my_mixin(); // This line should give an error because of misplaced @include

  @media { // Valid media position
    color: #000000;
  }
}

//This line should give error about missing whitespace at start of comment
.c-blockElement { // This line should give error about invalid class
  color: #000000;
}

.c-block {
  &__element {
    &--modifier {
      &:hover {
        &::before { // This line should give error about nesting depth
          color: #000000;
        }
      }
    }
  }
}

#c-block { // This line should give error about id selector
  color: #000000;
}

.c-block--variant-2 {
  color: #000000 !important; // This line should give error about important
}

.c-block--variant-3 {
  color: #000000; background-color: #000000; // This line should give error about multiple properties on one line
}




// This line above should give error because of too many lines
.c-block--variant-4 {
  color: #000000;
}

.c-block--variant-6, .c-block--variant-7 { // This line should give error about multiple selectors on one line
  color: #000000;
}

.c-block--variant-8 {
  &:before { // This line should give error about invalid pseudo selector (::)
    color: #000000;
  }
}

// Valid BEM classes
.c-block {
  &:hover {
    color: #000000;
  }

  &__element {
    color: #000000;

    &:hover {
      color: #000000;
    }

    &--modifier {
      color: #000000;

      &:hover {
        color: #000000;
      }
    }
  }

  &__element--modifier {
    color: #000000;

    &:hover {
      color: #000000;
    }
  }
}

#container a { top: 10px; } // no-descending-specificity
a { top: 0; }

@property --e-progress-ring__progress { // Should not throw an error for scss/at-rule-no-unknown
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}
