.c-delivery-address {
  border: 1px solid $color-gray-1;
  border-radius: 5px;
  overflow: hidden;

  &__header {
    font-family: $font-family-light;
    font-size: $font-size-24;
    background-color: $color-white;
    color: $color-orange;
    padding: $spacing--5 $spacing--5 $spacing--5 $spacing--20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }

  &__facet-filter {
    height: 70px;
    margin-top: -$spacing--15;
    margin-right: -$spacing--15;
  }

  &__button__icon {
    width: 30px;
    height: 20px;
  }

  &__body {
    background-color: $color-gray-4;
    color: $color-gray-3;
    line-height: 1.4;
    padding: 0 $spacing--10 $spacing--10;
  }
}
