.c-goto-links {
  &__link {
    float: left;
    padding: 5px 10px;
    border: 1px solid $color-gray-1;
    color: $color-gray-3;
    text-decoration: none;
    margin-right: $spacing--10;
    margin-top: $spacing--10;

    &:hover {
      color: $color-gray-3;
    }

    &--active {
      a {
        color: $color-orange;
        border-color: $color-orange;

        &:hover {
          color: $color-orange;
        }
      }
    }
  }
}
