.c-input-radio__options {

  ::selection{
    background:transparent;
  }

  &--horizontal,
  &--nested {
    display: block;
    vertical-align: middle;

    .e-label {
      display: block;
      margin-bottom: $spacing--10;
    }

    .e-label:last-child {
      margin-bottom: $spacing--0;
      margin-right: $spacing--0;
    }
  }

  &--horizontal {

    @media #{$media-screen-xs-min} {
      display: inline-block;
    }

    .e-label {
      @media #{$media-screen-xs-min} {
        display: inline-block;
        margin-right: $spacing--15;
        margin-bottom: 4px;
        margin-top: 4px;
      }
    }

    .e-label--no-input-visible:last-child {
      @media #{$media-screen-xs-min} {
        margin-bottom: 4px;
      }
    }
  }

  &--nested {

    @media #{$media-screen-xs-min} {
      display: inline-block;
      margin-bottom: -$spacing--10;
    }

    .e-label {
      @media #{$media-screen-xs-min} {
        display: inline-block;
        margin-bottom: $spacing--10;
        margin-right: $spacing--15;
      }
    }

    .e-label--no-input-visible:last-child {
      @media #{$media-screen-xs-min} {
        margin-bottom: $spacing--10;
      }
    }

    .e-label:last-child {
      @media #{$media-screen-xs-min} {
        margin-bottom: $spacing--10;
      }
    }
  }

  &--vertical {
    .e-label {
      display: block;
      margin-bottom: $spacing--10;
    }

    .e-label:last-child {
      margin-bottom: $spacing--0;
    }
  }

  &--grid {
    width: 100%;
    margin-top: $spacing--0;
    margin-bottom: -$spacing--15;

    .e-label {
      margin: $spacing--0;
      margin-bottom: $spacing--15;
      width: 100%;
    }

    .e-label:last-child {
      margin-right: $spacing--0;
      margin-bottom: $spacing--15;
    }
  }
}
